/* Global custom scrollbar styles */
html,
body {
    scrollbar-width: thin;
    /* For Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.767) #f1f1f1;
    /* For Firefox */
}

/* For Chrome, Edge, and Safari */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
    background: #555;
}